fastapi
uvicorn[standard]
python-dotenv
requests
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
psycopg2-binary
PyMuPDF
python-docx
python-pptx
beautifulsoup4
langchain
langchain-community
chromadb
langchain-ollama
python-multipart